 * {
    background: black;
    font-family: Arial,Helvetica,sans-serif;
} 

.loginBox {
    background-color: black;
    color: greenyellow;
    display: block;
    border: solid #382418;
    margin: 10px auto;
    padding: 3px;
    text-align: right;
    position: relative;
    font-size: .8em;
} 

.banner {
    background: url('https://www.runescape.com/img/rsp777/title2/rslogo3.png') no-repeat center;  
    display: block;
    margin-bottom: 25px;
    min-height: 135px;
    text-align: center;
} 

.playerCount {
    /* border: solid red;  */
    color: white;
    text-align: center;
    font-size: .8em;
}


.contentBox {
    /* border: solid blue; */
    display: block;
}

.homenavBox {
    border: solid rgb(105, 70, 5);
    background-color: black;
    margin-bottom: 15px;
    position: relative;
    width: 300px;
    display: block;

}

.list {
    list-style-type: none;
    color: greenyellow;
}

.homeNBTitle {
    /* border: solid purple; */
    color: white;
    position: absolute;
    text-align: center;
    top: -25px;
    width: 100%;
    font-size: .9em;
    background: transparent;
    font-weight: normal;
}

.navButtons {
    /* border: solid red; */
    float: right;
    padding-top: 23px;
    position: relative;
    bottom: 539px;
}

.buttonSelect {
    /* border: solid yellow; */
    color: white;
    background: url('https://www.runescape.com/img/rsp777/splash/compare_users.gif') no-repeat center;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    margin-right: 8px;
    height: 105px;
    width: 130px;
    padding: 10px;
}

.buttonTxt, .worldTxt {
    background-color: transparent;
    /* border: solid grey; */
    padding-top: 20px;
}

.worldTxt {
    font-size: .8em;
    font-weight: normal;
    padding: 0;
}

.worldSelect {
    /* border: solid pink; */
    text-align: center;
    margin: 10px;
    color: greenyellow;
    font-size: .8em;
}
/* ABOVE DONE */

.News {
    border: solid blueviolet;
}
.Welcome {
    border: solid silver;
    color:rgb(105, 70, 5);
    /* text-align: center;
    font-size: 3em;
    font-weight: bold;
    display: block; */
}

/*
.newsPost, .newsArticleTitle, .newsArticle {
    border: solid aqua;
    text-align: center;
}

.newsPic {
    border: solid slateblue;
}

.subTxt {
    border: solid salmon;
}

.newsArticleTxt {
    border: solid yellowgreen;
}

.welcomeTxt {
    border: solid peru;
    text-align: center;
    font-size: 1em;
}
.content {
    border: solid gold;
    background-color: tan;
} */

